@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* padding: 15px; */
}
.header {
    background-image: linear-gradient(to right bottom, rgba(103, 192, 85, 0.75),
    rgba(212,115,95, 0.75)), url("unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    position: relative;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%) */

}
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.primary-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    /* margin-left: auto; */
    text-transform: uppercase;
}
.primary-heading-main {
    display: block;
    font-size: 5vw;
    letter-spacing: 2.5vw;
    animation: moveToRight 1s ease-out;
}
.primary-heading-sub {
    display: block;
    font-size: 1.6vw;
    letter-spacing: 0.8vw;
    margin-bottom: 35px;
    animation: moveToLeft 1s ease-out;
}
.read-more {
    padding: 10px 20px;
    border: solid 1px #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    animation: moveUpwards 4s ease-out;
}
.read-more:hover {
    background-color: #fff;
    color: rgba(212,115,95, 0.8);
    border: solid 1px rgb(212,115,95);
}
@keyframes moveToLeft {
    0% {
       opacity: 0;
       transform: translateX(50%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
@keyframes moveToRight {
    0% {
       opacity: 0;
       transform: translateX(-50%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
@keyframes moveUpwards {
    0% {
       opacity: 0;
       transform: translateY(100%);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

.nav-bar {
    background-color: rgba(15, 15, 15, 0.75);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 0;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    transition: .4s ease-out;
}
.nav-bar li a {
    font-size: 18px;;
    text-decoration: none;
    color: #fff;
}
.nav-bar li a:hover {
    color: rgb(129, 248, 148);
}
/* @media (max-width: 768px) { */
    .hamburger {
        background-color: #fff;
        position: fixed;
        top: 25px;
        right: 20px;
        height: 35px;
        width: 40px;
        border-radius: 2px;
        z-index: 2;
        cursor: pointer;
    }
    .hamburger > div {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin-left: 5px;
        margin-bottom: 7px;
        transition: .4s ease-out;
    }
    .hamburger > div:nth-child(1) {
        margin-top: 7px;
    }
    .change.hamburger > div:nth-child(1) {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-45deg) ;
    }
    .change.hamburger > div:nth-child(2) {
        opacity: 0;
    }
    .change.hamburger > div:nth-child(3) {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(45deg) ;
    }
    .nav-bar.open {
        width: 100%;
        z-index: 1;
    }
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-container p {
    padding: 10px;
    text-align: center;
}
@media (max-width: 705px) {
    .inner-container {
        flex-direction: column;
    }
    
}
